body {
    background: radial-gradient(circle at center, #1a1a1a, #000000);
    color: white;
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background: linear-gradient(90deg, #0f0f0f, #1a1a1a, #0f0f0f);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
}
.navbar-brand span {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px red;
}

.card {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid #333;
    border-radius: 15px;
    color: white;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

.titulo {
    color: white;
    text-shadow: 0 0 10px red;
    font-weight: bold;
}

.table {
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.table thead {
    background-color: #8B0000;
}

.table tbody tr {
    transition: 0.2s;
}

.table tbody tr:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.table td, .table th {
    vertical-align: middle;
}

.btn-primary {
    background-color: #b30000;
    border: none;
}

.btn-primary:hover {
    background-color: #ff1a1a;
    
}

.btn-login-neon {
    background: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 8px 22px;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 0 10px red, 0 0 20px red;
    box-shadow: 0 0 10px red, 0 0 25px red inset;
    transition: 0.3s;
    
}

.btn-login-neon:hover {
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 15px red, 0 0 30px red inset;
    transform: scale(1.05);
}

.estado-reservada {
    color: #00ff99;
    font-weight: bold;
}

.estado-cancelada {
    color: #ff4d4d;
    font-weight: bold;
}

.estado-finalizada {
    color: #cccccc;
    font-weight: bold;
}

.table-responsive {
    max-height: 400px;
    overflow-y: auto;
}

.logo {
    width: 90px;
    filter: drop-shadow(0 0 15px red);
    transition: 0.3s;
}

.logo:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 25px red);
}