body {
    background: radial-gradient(circle at center, #1a1a1a, #000000);
    color: white;
}

.header {
    background: radial-gradient(circle at center, #1a1a1a, #000000);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    background: linear-gradient(90deg, #0f0f0f, #1a1a1a, #0f0f0f);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.4);
}
.navbar-brand span {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 8px red;
}
#nombreUsuario {
    font-size: 30px;
}

.btn-login-neon {
    background: transparent;
    color: #ff0000;
    border: 2px solid #ff0000;
    padding: 8px 22px;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 0 10px red, 0 0 20px red;
    box-shadow: 0 0 10px red, 0 0 25px red inset;
    transition: 0.3s;
}

.btn-login-neon:hover {
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 15px red, 0 0 30px red inset;
    transform: scale(1.05);
}

.logo-header {
    width: 120px;
    filter: drop-shadow(0 0 10px red);
    transition: 0.3s;
}

.logo-header:hover {
    transform: scale(1.05);
    filter: drop-shadow(0 0 20px red);
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    text-shadow: 0 0 10px red;
}

.card-custom {
    background-color: #111;
    color: white;
    border: 1px solid #222;
    transition: 0.3s;
}

.card-custom:hover {
    transform: scale(1.05);
    border-color: red;
}

.footer {
    background: radial-gradient(circle at center, #1a1a1a, #000000);
    border-top: 1px solid #222;
}

.footer img {
    filter: drop-shadow(0 0 10px red);
    transition: 0.3s;
}

.footer img:hover {
    transform: scale(1.05);
}