body {
    background: radial-gradient(circle at center, #1a1a1a, #000000);
    color: white;
    margin: 0;
}

.header {
    background: rgba(20, 20, 20, 0.95);
    border-bottom: 1px solid #333;
    box-shadow: 0 0 15px rgba(255,0,0,0.2);
}


.registro-card {
    background: rgba(20, 20, 20, 0.95);
    border: 1px solid #333;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(255,0,0,0.2);
}


.titulo {
    color: white;
    text-shadow: 0 0 12px red;
}

.subtitulo {
    color: #bbb;
}


.btn-main {
    background: linear-gradient(45deg, #b30000, #ff1a1a);
    border: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.btn-main:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px red;
}


.logo {
    width: 60px;
    filter: drop-shadow(0 0 10px red);
}


.table {
    border-radius: 10px;
    overflow: hidden;
}

#buscador {
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid #333;
    color: white;
    border-radius: 30px; /* más redondeado */
    padding: 8px 15px; /* más compacto */
    font-size: 14px;
    transition: 0.3s;
}


#buscador::placeholder {
    color: #aaa;
}


#buscador:focus {
    outline: none;
    border: 1px solid red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    background: rgba(40, 40, 40, 1);
}